@import "react-contexify/scss/main.scss";

body {
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 18);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
